// Header logo
.logo {
  margin-right: 93px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #000000;
}

.logo-web {
  color: var(--accent-color);
}

// Footer logo
.footer .logo {
  color: #ffffff;
}
