.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  padding: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-button-svg {
  width: 11px;
  height: 11px;
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
}

.modal-close-button:hover,
.modal-close-button:focus {
  border-color: var(--accent-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover .close-button-svg,
.modal-close-button:focus .close-button-svg {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.main-form {
  display: flex;
  flex-direction: column;
}

.action-call {
  margin-bottom: 12px;

  font-weight: 900;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--mostly-used-color);
}

/* ____________________________________ */

.modal-form-input-label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: var(--second-level-color);
}

.modal-input-hint {
  display: block;
  margin-bottom: 4px;
  margin-top: 10px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: var(--second-level-color);
}

.modal-form-input-wrapper {
  display: block;
  position: relative;
}

.modal-form-input-wrapper:hover .modal-form-input {
  border: 1px solid var(--accent-color);
}

.modal-form-input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-icon {
  position: absolute;

  top: 50%;
  left: 15px;
  fill: var(--mostly-used-color);
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-icon:hover {
  fill: var(--accent-color);
}

.modal-form-input:focus,
.modal-form-input:hover {
  border: 1px solid var(--accent-color);

  border-radius: 4px;
  outline: transparent;
}

.modal-form-input:focus + .modal-form-icon,
.modal-form-input:hover + .modal-form-icon {
  fill: var(--accent-color);
}

/* ____________________________________ */

.comment-field {
  resize: none;
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-field::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.comment-field:focus,
.comment-field:hover {
  border: 1px solid var(--accent-color);
  box-sizing: border-box;
  border-radius: 4px;
  outline: transparent;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.agreement-terms-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.modal-form-agreements {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  margin: 0 auto;
  letter-spacing: 0.03em;
  color: var(--second-level-color);
}

.modal-form-agreements::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 15px;
  margin-right: 10px;
  background-image: url(../icons/icon-checked.svg);
}

.agreement-terms-checkbox:checked + .modal-form-agreements::before {
  background-image: url(../icons/position-checked.svg);

  background-color: var(--accent-color);

  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-origin: border-box;
  border-color: transparent;
}

.agreement-terms-checkbox:focus + .modal-form-agreements::before {
  outline: 1px solid var(--accent-color);
}

.agreement-terms-link {
  color: var(--accent-color);
}

.modal-form-submit-btn {
  font-weight: 900;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  align-self: center;
  padding: 10px 55px;
  margin-top: 30px;
  outline: transparent;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-submit-btn:hover,
.modal-form-submit-btn:focus {
  background-color: #188ce8;
}
