:root {
  --text-font: "Roboto", sans-serif;
  --text-main-color: #757575;
  --icon-color: #afb1b8;
  --text-head-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --black-color: #000000;
  --contacts-color: rgba(255, 255, 255, 0.6);
  --background-main: #2f303a;
  --background-team: #f5f4fa;
  --border-work-examples: #eeeeee;
  --portfolio-border: #ececec;
}
